@use "../../../variables.scss" as var;

.wrapper {
  display: flex;
  flex-direction: column;
  cursor: pointer;
  position: relative;
  width: var.$selectWidthSmall;
}

.label_wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: var.$selectWidthSmall;
  padding-right: 11px;
}

.list {
  display: flex;
  flex-direction: column;
  list-style-type: none;
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1400;
  background-color: var(--color-white);
}

.li {
  padding-bottom: 10px;

  &:first-child {
    padding-top: 20px;
  }

  &:last-child {
    padding-bottom: 0;
  }
}

.icon {
  @include var.icon;
}
.list_disabled {
  display: none;
}
