.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 1440px;
  margin: 0 auto;
  & > main {
    width: 100%;
  }

  &_form_elements {
    & > main {
      display: flex;
      flex-direction: column;
      margin-left: 141px;
      margin-right: 141px;
    }
  }
}

@media only screen and (max-width: 600px) {
  .wrapper {
    display: flex;
    flex-direction: column;
    margin: 0;

    & > main {
      margin: 0;
    }

    & > img {
      width: 48px;
      height: 48px;
      margin: 30px auto 67px auto;
    }
  }
}
