.wrapper {
  width: 100%;
  background-color: var(--color-background);
  min-height: 100vh;
  & > img {
    width: 48px;
    height: 48px;
    margin: 30px auto 0 30px;
  }

  & > main {
    justify-content: center;
    margin: 72px 140px 140px 140px;
    display: flex;
    gap: 40px;
  }
}
