.wrapper {
  width: 100%;
  background-color: var(--color-background);
  min-height: 100vh;
  & > img {
    width: 48px;
    height: 48px;
    margin: 30px auto 0 30px;
  }

  & > main {
    justify-content: center;
    margin: 72px 140px 140px 140px;
    display: flex;
    gap: 40px;
  }
}

@media only screen and (max-width: 600px) {
  .wrapper {
    & > main {
      align-items: center;
      justify-content: center;
      margin: 0;
      display: flex;
      flex-direction: column;
      gap: 40px;
    }
  }
}
