.text {
  color: var(--color-purple);
  font-family: var(--font);
  font-size: var(--font-h3);
  line-height: var(--line-height-h3);
  font-weight: 700;
}
.outlined {
  color: rebeccapurple;
}
.contained {
  color: green;
}
