.text {
  color: var(--color-purple);
  font-family: var(--font);
  font-size: var(--font-h3);
  line-height: var(--line-height-h3);
  font-weight: 700;
}
.outlined {
  color: rebeccapurple;
}

.like {
  max-width: 40px;
  min-width: 40px;
  height: 20px;
  border-radius: 10px;
  color: var(--color-dark-shade-25);
  border: 1px solid var(--color-dark-shade-25);
  font-size: 10px;
  font-family: var(--font);
  line-height: 12px;
  padding: 0;
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-items: start;
  align-items: center;

  &:hover {
    border: 1px solid var(--color-purple);
    color: var(--color-purple);
    opacity: 0.8;
    &::before {
      position: absolute;
      content: url("@public/icons/like.svg");
      width: 10px;
      height: 10px;
      opacity: 1;
      z-index: 2000;
      display: block;
      top: -6%;
      left: -50%;
      right: 0;
      bottom: 0;
      margin: auto;
    }
  }
  &_active {
    border: 1px solid var(--color-purple);
    color: var(--color-purple);
  }
}
.icon {
  align-self: center;
  justify-self: center;
  width: 10px;
  height: 10px;
  position: relative;
}
