.wrapper {
  display: flex;
  justify-content: space-between;
  margin: 67px 158px 145px 150px;
  font-family: var(--font);
}

.color {
  display: flex;
  flex-direction: column;
  width: 282px;
}

.color-block {
  display: flex;
  margin-bottom: 20px;

  &:nth-last-child(-n + 1) {
    margin-bottom: 0;
  }
}

.color-label {
  display: flex;
  flex-direction: column;
  margin-left: 40px;
  justify-content: center;

  & > p {
    font-size: 19px;
    color: var(--color-dark-shade-100);
  }
}

.type {
  display: grid;
  grid-template-columns: 1fr;
  width: 436px;
  height: 321px;

  &-block {
    display: grid;
    grid-template-columns: 37px 1fr;

    & > h1:first-child,
    h2:first-child,
    h3:first-child,
    p:first-child {
      color: var(--color-dark-shade-25);
      font-weight: normal;
      text-align: end;
    }

    & > h1:last-child,
    h2:last-child,
    h3:last-child,
    p:last-child {
      margin-left: 30px;
    }
  }
}

@media only screen and (max-width: 600px) {
  h1 {
    font-size: 20px;
  }

  h2 {
    font-size: 18px;
  }
  h3 {
    font-size: 16px;
  }
  .wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;

    justify-content: center;

    & > main {
      margin: 0;
    }
  }
  .color-label {
    display: flex;
    flex-direction: column;
    margin-left: 40px;
    justify-content: center;
  }

  .type {
    display: grid;
    grid-template-columns: 1fr;
    width: 300px;
    height: 321px;

    &-block {
      display: grid;
      grid-template-columns: 37px 1fr;
      margin-top: 30px;

      & > h1:first-child,
      h2:first-child,
      h3:first-child,
      p:first-child {
        color: var(--color-dark-shade-25);
        font-weight: normal;
        text-align: end;
      }
    }
  }
}
