.wrapper {
  display: flex;
  flex-direction: column;
  width: 1444px;
}

.columns_wrapper {
  display: flex;
  flex-direction: row;
}

.first_col {
  display: flex;
  height: 731px;
  margin-right: 126px;
  flex-direction: column;
  width: 320px;

  & > div:nth-child(-n+3) {
    margin-bottom: 20px;
  }

  & > div:nth-child(n+4):nth-child(-n+6) {
    margin-bottom: 40px;
  }

}

.second_col {
  display: flex;
  height: 731px;
  margin-right: 72px;
  flex-direction: column;
  min-width: 320px;

  .inline_wrapper {
    display: flex;
  }

  & > div:nth-child(1) {
    margin-bottom: 50px;

    & > div:nth-child(1) {
      margin-bottom: 17px;
    }

    & > label:nth-child(-n+3) {
      margin-bottom: 10px;
    }
  }

  & > div:nth-child(2) {
    margin-bottom: 36px;

    & > div:nth-child(1) {
      margin-bottom: 16px;
    }

    & > div:nth-child(2) {
      & > label:nth-child(1) {
        margin-right: 20px;
      }
    }


  }

  & > div:nth-child(3) {
    margin-bottom: 50px;

    & > div:nth-child(1) {
      margin-bottom: 16px;
    }

    & > label:nth-child(2) {
      margin-bottom: 14px;
    }
  }

  & > div:nth-child(4) {
    margin-bottom: 40px;

    & > div:nth-child(1) {
      margin-bottom: 16px;
    }

    & > div:last-child {
      & > button:nth-child(2) {
        margin-left: 10px;
      }
    }
  }

  & > div:nth-child(5) {

    & > div:nth-child(1) {
      margin-bottom: 16px;
    }

    & > div:last-child {
      & > span:nth-child(2) {
        margin-left: 20px;
      }
    }
  }
}

.third_col {
  height: 731px;
  display: flex;
  flex-direction: column;

  & > div:nth-child(1) {
    margin-bottom: 40px;
  }

  & > div:last-child {
    & > div:first-child {
      margin-bottom: 16px;
    }
  }
}

.buttons {
  display: flex;
  flex-direction: column;
  min-width: 320px;
  width: 320px;
  margin-bottom: 40px;
}

.buttons_wrapper {
  display: grid;
  grid-column-gap: 19px;
  grid-row-gap: 30px;
  margin-bottom: 30px;
  width: 195px;
  grid-template-columns: repeat(2, 1fr);
  margin-top: 16px;
}

.button_text_wrapper {
  display: flex;
  grid-column-end: span 2;

  & > button:nth-child(1) {
    margin-right: 20px;
  }
}

.dropdown_wrapper {
  & > div:nth-child(1) {
    margin-bottom: 20px;
  }
}

.checkbox_list_wrapper {
  & > div:nth-child(1) {
    margin-bottom: 40px;
  }

  margin-bottom: 288px;
}

.last_row {
  display: grid;
  width: 1158px;
  grid-template-columns: 447px 392px 319px;
  grid-template-areas:
          "a b c"
          "d e f"
          "j h h";

  & > div:first-child {
    grid-area: a;
  }

  & > div:nth-child(2) {
    grid-area: b;
  }

  & > div:nth-child(3) {
    grid-area: c;
  }

  & > div:nth-child(4) {
    grid-area: d;
    margin-top: 258px;
  }

  & > div:nth-child(5) {
    grid-area: e;
    margin-top: 258px;

    & > div:nth-child(1) {
      margin-bottom: 16px;
    }
  }

  & > div:nth-child(6) {
    grid-area: f;
    margin-top: 258px;

    & > div:nth-child(1) {
      margin-bottom: 20px;
    }
  }

  & > div:nth-child(7) {
    grid-area: j;

    & > div:last-child {
      margin-top: 20px;
    }
  }

  & > div:nth-child(8) {
    grid-area: h;
  }
}

@media only screen and (max-width: 600px) {
  .wrapper {
    & > div:nth-child(n) {
      margin: 20px;
    }
  }
}
