.wrapper {
  display: flex;
}

.first_col {
  display: flex;
  flex-direction: column;
  width: 320px;

  & > div:nth-child(-n+3) {
    margin-bottom: 20px;
  }

  & > div:nth-child(n+4):nth-child(-n+6) {
    margin-bottom: 40px;
  }

}

.second_col {
  display: flex;
  flex-direction: column;
  min-width: 320px;

  .inline_wrapper {
    display: flex;
  }

  & > div:nth-child(1) {
    margin-bottom: 50px;

    & > div:nth-child(1) {
      margin-bottom: 17px;
    }

    & > label:nth-child(-n+3) {
      margin-bottom: 10px;
    }
  }

  & > div:nth-child(2) {
    margin-bottom: 36px;

    & > div:nth-child(1) {
      margin-bottom: 16px;

      & > label:nth-child(1) {
        margin-right: 20px;
      }
    }
  }

  & > div:nth-child(3) {
    margin-bottom: 50px;

    & > div:nth-child(1) {
      margin-bottom: 16px;
    }

    & > label:nth-child(2) {
      margin-bottom: 14px;
    }
  }

  & > div:nth-child(4) {
    margin-bottom: 40px;

    & > div:nth-child(1) {
      margin-bottom: 16px;
    }

    & > div:last-child {
      & > button:nth-child(2) {
        margin-left: 10px;
      }
    }
  }

  & > div:nth-child(5) {

    & > div:nth-child(1) {
      margin-bottom: 16px;
    }

    & > div:last-child {
      & > span:nth-child(2) {
        margin-left: 20px;
      }
    }
  }
}

.third_col {
  display: flex;
  flex-direction: column;

  & > div:nth-child(1) {
    margin-bottom: 40px;
  }
}

@media only screen and (max-width: 600px) {
  .wrapper {
    & > div:nth-child(n) {
      margin: 20px;
    }
  }
}
