@use "../../../variables" as vars;

.wrapper {
  @include vars.card;
  height: 512px;
}
.label_wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.label_left {
  display: inline-flex;
  align-items: center;
  & > p:nth-child(2) {
    margin-left: 8px;
  }
}
.label_right {
  align-items: center;
  & > span:nth-child(1) {
    font-weight: 700;
  }
}
.label_text {
  @include vars.textGrey;
}
.total_price {
  display: inline-flex;
  width: 320px;
  height: fit-content;
  justify-content: space-between;
  position: relative;
  & h1:last-child {
    z-index: 1;
  }
  &::before {
    content: "";
    position: absolute;
    width: 148px;
    border-bottom: 1px dotted var(--color-dark-shade-25);
    top: 75%;
    left: 80px;
    z-index: 0;
  }
}
