@use "../../../variables" as vars;

.wrapper {
  @include vars.card;
  height: fit-content;
  & > div:nth-child(1) {
    margin-bottom: 20px;
  }

  & > div:nth-child(2) {
    margin-bottom: 20px;
  }

  & > div:nth-child(3) {
    margin-bottom: 20px;
  }
}
.label_wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.label_left {
  display: inline-flex;
  align-items: center;
  & > p:nth-child(2) {
    margin-left: 8px;
  }
}
.label_right {
  align-items: center;
  & > span:nth-child(1) {
    font-weight: 700;
  }
}
.label_text {
  @include vars.textGrey;
}
.total_price {
  display: inline-flex;
  width: 320px;
  height: fit-content;
  justify-content: space-between;
  position: relative;
  margin-bottom: 20px;
  & h1:last-child {
    z-index: 1;
  }
  &::before {
    content: "";
    position: absolute;
    width: 148px;
    border-bottom: 1px dotted var(--color-dark-shade-25);
    top: 75%;
    left: 80px;
    z-index: 0;
  }
}

.expenses {
  display: flex;
  flex-direction: column;
  width: 320px;
  gap: 10px;
  margin-bottom: 30px;
  & > .expense:nth-child(n + 2):nth-child(-n + 3) {
    position: relative;
    &::before {
      content: url("./icons/information.svg");
      position: absolute;
      left: 217px;
    }
  }
}
.expense {
  display: flex;
  justify-content: space-between;
  text-align: center;
  & > span:first-child {
    width: 214px;
    text-align: start;
  }
}

.text {
  @include vars.textBody;
}
