.input {
  box-sizing: border-box;
  font-family: var(--font);
  width: 320px;
  height: 44px;
  color: var(--color-dark-shade-25);
  line-height: 18px;
  font-size: var(--font-size-body);
  border: 1px solid var(--color-dark-shade-25);
  border-radius: 2px;
  padding: 13px 0 13px 15px;
  &_date {
    width: 150px;
  }
  &:hover {
    color: var(--color-dark-shade-50);
    border-color: var(--color-dark-shade-50);
  }

  &:focus-within {
    color: var(--color-dark-shade-50);
    border-color: var(--color-dark-shade-50);
  }
}

.form-control {
  font-family: var(--font);
}
