.wrapper {
  width: 100%;
  background: var(--color-background);
  & > div:first-child {
    & > main {
      justify-content: center;
      margin: 72px 140px 140px 140px;
      display: inline-flex;
      gap: 40px;
    }
  }
}

.date_wrapper {
  min-height: fit-content;
  width: fit-content;
  button[aria-label="8 августа 2019"] {
    color: var(--color-white);
    background: linear-gradient(180deg, #6fcf97 0%, #66d2ea 100%);
    border-radius: 50%;
  }

  button[aria-label="19 августа 2019"] {
    position: relative;
    color: var(--color-white);
    background-color: #e5e8fe;
    z-index: 200;
    border-radius: 0;
    border-top-left-radius: 50%;
    border-bottom-left-radius: 50%;
    &::before {
      position: absolute;
      z-index: -100;
      color: #ffffff;
      content: "";
      background: linear-gradient(180deg, #bc9cff 0%, #8ba4f9 100%);
      border-radius: 50%;
      display: inline-block;
      width: inherit;
      height: inherit;
    }
  }

  button[aria-label="23 августа 2019"] {
    position: relative;
    color: var(--color-white);
    background-color: #e5e8fe;
    z-index: 200;
    border-radius: 0;
    border-top-right-radius: 50%;
    border-bottom-right-radius: 50%;
    &::before {
      position: absolute;
      z-index: -100;
      color: #ffffff;
      content: "";
      background: linear-gradient(180deg, #bc9cff 0%, #8ba4f9 100%);
      border-radius: 50%;
      display: inline-block;
      width: inherit;
      height: inherit;
    }
  }
  button[aria-label="20 августа 2019"],
  button[aria-label="21 августа 2019"],
  button[aria-label="22 августа 2019"] {
    border-radius: 0;
    color: var(--color-dark-shade-50);
    background: #e5e8fe;
  }
}

.column {
  display: flex;
  flex-direction: column;
  gap: 40px;
}
