.element_wrapper {
  display: grid;
  grid-template-rows: 1fr 1fr;
  height: 67px;
  

  &_small {
    width: 266px;
  }
}

.label_wrapper {
  display: flex;
  justify-content: space-between;
  align-items: start;
}
