@use "../../../variables.scss" as var;

.pagination {
  min-width: 240px;
  max-width: 280px;
  align-items: center;
  justify-content: center;

  & :global .MuiSvgIcon-root {
    width: 24px;
    height: 24px;
    color: var(--color-dark-shade-50);

    &:hover {
      color: var(--color-white);
    }
  }

  & :global .MuiPaginationItem-root {
    font-family: var(--font);
    font-size: 12px;
    line-height: 14px;
    color: var(--color-dark-shade-50);
    width: 40px;
    height: 40px;
    margin: 0;
    padding: 0;
    text-align: center;
    align-items: center;

    &:hover {
      color: var(--color-white);
      border-radius: 50%;
      background: linear-gradient(180deg, #6fcf97 0%, #66d2ea 100%);

      & > svg {
        color: var(--color-white);
      }
    }
  }

  & :global .Mui-selected {
    color: var(--color-white);
    border-radius: 50%;
    background: linear-gradient(180deg, #bc9cff 0%, #8ba4f9 100%);
  }

  & :global .Mui-disabled {
    display: none;
  }

  & :global .MuiPaginationItem-ellipsis {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.wrapper {
  display: flex;
  align-items: center;
  flex-direction: column;
  min-width: 240px;
  max-width: 280px;
}

.description {
  @include var.text;
  margin-top: 10px;
}
