.input {
  outline: none;
  border: 0;
  width: 92px;
  justify-content: space-between;

  & > button {
    width: 30px;
    height: 30px;
    color: var(--color-dark-shade-25);
    background-color: var(--color-white);
    &:hover {
      background-color: var(--color-purple);
      border-color: var(--color-purple);
    }
  }

  & > input {
    outline: none;
    border: 0;
    background-color: var(--color-white);
    box-shadow: none;
    border-radius: 0;
    width: 1rem;
    padding: 0;
    font-size: 12px;
    line-height: 14px;
    font-family: var(--font);
    color: var(--color-dark-shade-100);
    &:focus-within {
      box-shadow: none;
    }
    &:active {
      outline: none;
      border: none;
    }
  }
}
