@use "../../../variables.scss" as vars;
.inputs-wrapper {
  display: flex;
  width: 320px;
  justify-content: space-between;
  margin: 0;
  margin-bottom: 5px;
  padding: 0;
  position: relative;
}
.wrapper {
  width: vars.$selectWidth;
}
