@use "../../../variables.scss" as vars;
.dropdown-wrapper {
  display: flex;
  width: 320px;
  height: 65px;
  flex-direction: column;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  position: relative;

  &_wide {
    width: 266px;
  }
}

.label_wrapper {
  display: grid;
  align-content: center;
  grid-template-columns: 1fr 1fr;
  margin: 0;
  padding: 0;
  & > h3:last-child {
    margin-left: 10px;
  }
}
.inputs_wrapper {
  width: 320px;
  display: flex;
  justify-content: space-between;
  height: 44px;
}
