@use "../../../../variables.scss" as vars;

.footer {
  width: 1440px;
  height: 443px;
  background-color: var(--color-white);
  box-shadow: 0px 10px 20px 0px #1f20410d;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
  padding: 104px 140px 0 140px;
  &_mobile {
    display: flex;
    flex-direction: column;
    width: 768px;
    height: 367px;
    background-color: var(--color-white);
    box-shadow: 0px 10px 20px 0px #1f20410d;
    align-items: center;
    justify-content: center;
    & > a:first-child {
      margin-bottom: 20px;
    }
    & > span:nth-child(2) {
      margin-bottom: 25px;
    }
  }
  &_wrapper {
    display: grid;
    justify-content: center;
    width: 1350px;
    grid-template-columns: 300px 200px 200px 149px 311px;
    height: fit-content;
    align-items: start;
    & > div:first-child {
      margin-right: 40px;
    }
    & > div:nth-child(2) {
      margin-right: 57px;
    }
    & > div:nth-child(3) {
      margin-right: 92px;
    }
    & > div:last-child {
      margin-left: 51px;
      & > div:last-child {
        width: 260px;
        & > div:first-child {
          width: 260px;
        }
      }
      & > a:nth-child(2) {
        & > span:first-child {
          color: var(--color-dark-shade-75);
          line-height: 24px;
        }
      }
    }
  }
  &_logo_wrapper {
    display: flex;
    width: 105px;
    height: 40px;
    align-items: center;
    justify-content: space-between;
  }
  &_logo_column {
    display: flex;
    flex-direction: column;
    gap: 20px;
    @include vars.textBody;
  }
  &_column {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  &_head {
    @include vars.textBody;
    font-size: 12px;
    line-height: normal;
    color: var(--color-dark-shade-100);
    text-transform: uppercase;
    font-weight: 700;
  }
  &_link {
    @include vars.textGrey;
    line-height: normal;
  }
  &_copyright {
    display: flex;
    justify-content: space-between;
    width: inherit;
    height: 70px;
    background-color: inherit;
    padding: 23px 140px 23px 140px;
    border-top: 1px solid #dedee3;
    &_text {
      @include vars.textGrey;
      color: var(--color-dark-shade-75);
      display: inline-flex;
      align-items: center;
    }
    &_social_media {
      display: flex;
      gap: 20px;
      &_icon {
        width: 24px;
        height: 24px;
      }
    }
  }
}
