@use "../../../variables" as vars;

.wrapper {
  @include vars.room;
  position: relative;
  margin-right: 100px;
  &::before {
    content: url("./icons/photo_pagination.svg");
    position: absolute;
    top: 129px;
    left: 214px;
  }
  &_photos {
    position: relative;
    &::before {
      content: url("./icons/arrow_back_card.svg");
      position: absolute;
      top: 75px;
      left: 18px;
      z-index: 11;
    }
    &::after {
      content: url("./icons/photo_pagination.svg");
      position: absolute;
      top: 129px;
      left: 214px;
    }
  }
}
.container {
  width: 270px;
  position: relative;
  &::after {
    content: url("./icons/arrow_forward_card.svg");
    position: absolute;
    top: 75px;
    right: 18px;
  }
}

.image {
  width: 270px;
  height: 150px;
}

.row_first {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  height: 33px;
  border-bottom: 1px solid var(--color-dark-shade-25);
}

.main {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  margin: 20px 16px 19px 20px;
  height: 67px;
  width: 233px;
}

.row_second {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.label_text {
  @include vars.textGrey;
}

.title {
  display: inline-flex;
  align-items: baseline;

  & > h1:nth-child(1) {
    font-size: 14px;
    line-height: 17px;
  }
  & > p:nth-child(2) {
    text-transform: none;
  }
}

.price {
  align-items: baseline;
}
