$selectWidth: 320px;
$selectWidthSmall: 266px;

:root {
  --color-white: #ffffff;
  --color-dark-shade-100: #1f2041;
  --color-dark-shade-75: #575871;
  --color-dark-shade-50: #8f90a0;
  --color-dark-shade-25: #c7c7cf;
  --color-dark-shade-5: #f3f4f5;
  --color-purple: #bc9cff;
  --color-green: #6fcf97;

  --font: Montserrat;

  --font-size-h1: 24px;
  --font-size-h2: 19px;
  --font-size-h3: 12px;
  --font-size-body: 14px;

  --line-height-h1: 30px;
  --line-height-h2: 24px;
  --line-height-h3: 14px;
  --line-height-body: 24px;
}

@font-face {
  font-family: Montserrat;
  src: url("/fonts/Montserrat/Montserrat-VariableFont_wght.ttf");
}

@mixin label {
  font-size: var(--font-size-h3);
  font-family: var(--font);
  font-weight: 700;
  color: var(--color-dark-shade-100);
  text-transform: uppercase;
  width: fit-content;
  height: fit-content;
}

@mixin icon {
  width: 24px;
  height: 24px;
  text-align: center;
  color: var(--color-dark-shade-50);
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin text {
  font-family: var(--font);
  font-size: 12px;
  line-height: 24px;
  color: var(--color-dark-shade-75);
}

@mixin descriptionText {
  font-family: var(--font);
  font-size: 12px;
  line-height: 14px;
  color: var(--color-dark-shade-50);
  text-transform: uppercase;
  font-weight: normal;
}
