.mantineDatePickerWrapper {
  width: 320px;
  height: 369px;
}

.mantineDatePickerCalendarHeader {
  max-width: 320px;
  min-width: 320px;
  background-color: #333;
  color: #fff;
}

.mantineDatePickerCalendarHeaderLevel {
  font-size: 16px;
}

.mantineDatePickerDay {
  color: var(--color-dark-shade-50);
  border-radius: 50%;
  font-size: 12px;

  &:hover {
    background-color: #ddd;
  }
}

.mantineDatePickerDaySelected {
  color: #fff;
}

div[data-month-level] {
  font-family: var(--font);
  width: 320px;
  height: 369px;

  & > button {
    font-size: 12px;
  }

  & > table {
    width: 320px;
    max-width: 320px;
    min-width: 320px;


  }
}

.table {
  width: 320px;
  max-width: 320px;
  min-width: 320px;
}

.m_cc9820d3 .mantine-DatePicker-month {
  width: 320px;
  max-width: 320px;
  min-width: 320px;
}