@use "../../../variables.scss" as vars;
.wrapper {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  width: 320px;
  height: 369px;
  border: 1px solid var(--color-dark-shade-25);
  border-radius: 5px;
  position: absolute;
  z-index: 1300;
  background: white;
  top: 108%;
  &_static {
    position: static;
  }
}

.buttons-wrapper {
  display: flex;
  margin: 20px;
  padding: 0;
  justify-content: space-between;

  & > button {
    font-weight: 700;
    padding: 0;
    font-size: 12px;
    line-height: 14px;
  }
}

.mantineDatePickerWrapper {
  width: 320px;
}

.mantineDatePickerCalendarHeader {
  margin: 0;
  margin-bottom: 30px;
  margin-top: 20px;
  max-width: 320px;
  line-height: 24px;
  font-weight: 700;
  color: var(--color-dark-shade-100);
  font-size: 19px;

  & > button:nth-child(1) {
    margin-left: 20px;
  }

  & > button:nth-child(3) {
    margin-right: 20px;
  }
}

.mantineDatePickerCalendarHeaderLevel {
  font-size: 16px;
}

.mantineDatePickerDay {
  color: var(--color-dark-shade-50);
  border-radius: 50%;
  font-size: 12px;
  padding: 0;
  width: 40px;
  height: 40px;

  &:hover {
    color: (var(--color-white));
    background: linear-gradient(180deg, #6fcf97 0%, #66d2ea 100%);
  }

  &:focus-within {
    color: var(--color-white);
    background: linear-gradient(180deg, #6fcf97 0%, #66d2ea 100%);
  }
}

button[data-in-range] {
  background: #e4e8fe;
  border-radius: 0;
}

.mantineDatePickerDaySelected {
  color: #fff;
  background: linear-gradient(180deg, #bc9cff 0%, #8ba4f9 100%);
}

td[data-with-spacing] {
  padding: 0;
  text-align: center;

  & button[data-first-in-range] {
    position: relative;
    color: var(--color-white);
    background-color: none;
    z-index: 200;
    border-top-left-radius: 50%;
    border-bottom-left-radius: 50%;

    &:hover {
      background: #e4e8fe;
      border-top-left-radius: 50%;
      border-bottom-left-radius: 50%;
    }

    &:focus {
      background: #e4e8fe;
      border-top-left-radius: 50%;
      border-bottom-left-radius: 50%;
    }

    &::before {
      position: absolute;
      z-index: -100;
      color: #ffffff;
      content: "";
      background: linear-gradient(180deg, #bc9cff 0%, #8ba4f9 100%);
      border-radius: 50%;
      display: inline-block;
      width: inherit;
      height: inherit;
    }
  }

  & button[data-last-in-range] {
    position: relative;
    color: var(--color-white);
    background-color: none;
    z-index: 200;
    border-top-right-radius: 50%;
    border-bottom-right-radius: 50%;

    &:hover {
      background: #e4e8fe;
      border-top-right-radius: 50%;
      border-bottom-right-radius: 50%;
    }

    &:focus {
      background: #e4e8fe;
      border-top-right-radius: 50%;
      border-bottom-right-radius: 50%;
    }

    &::before {
      position: absolute;
      z-index: -100;
      color: #ffffff;
      content: "";
      background: linear-gradient(180deg, #bc9cff 0%, #8ba4f9 100%);
      border-radius: 50%;
      display: inline-block;
      width: inherit;
      height: inherit;
    }
  }
}

div[data-month-level] {
  font-family: var(--font);
  width: 320px;
  border-radius: 2px;

  & > td {
    padding: 0;
    text-align: center;
  }

  & > button {
    font-size: 12px;
    width: 40px;
    height: 40px;
  }

  & > table {
    width: 280px;
    margin: 0 auto;
  }
}

.mantineDatePickerweekday {
  & > th {
    box-sizing: border-box;
    color: var(--color-purple);
    padding: 0;
    font-weight: 700;
    width: 40px;
    height: 40px;
  }
}

.icon {
  color: var(--color-purple);
}

div[data-calendar] {
  font-family: var(--font);
}

div[data-year-level] {
  width: 280px;
  margin: 0 auto;

  & > div:first-child {
    & > button:nth-child(1) {
      margin-left: 0;
    }

    & > button:nth-child(3) {
      margin-right: 0;
    }
  }

  & > table button[data-picker-control] {
    margin: 0 auto;
    color: var(--color-dark-shade-50);
  }

  & > table {
    margin: 0 auto;
  }
}

div[data-decade-level] {
  width: 280px;
  margin: 0 auto;

  & > div:first-child {
    & > button:nth-child(1) {
      margin-left: 0;
    }

    & > button:nth-child(3) {
      margin-right: 0;
    }
  }

  & > table,
  button {
    margin: 0 auto;
    color: var(--color-dark-shade-50);
  }
}
