.mantineDatePickerWrapper {
  width: 320px;
  height: 369px;
}

.mantineDatePickerCalendarHeader {
  margin: 0;
  margin-top: 20px;
  max-width: 320px;
  line-height: 24px;
  font-weight: 700;
  color: var(--color-dark-shade-100);
  font-size: 19px;
}

.mantineDatePickerCalendarHeaderLevel {
  font-size: 16px;
}

.mantineDatePickerDay {
  border: 1px solid var(--color-dark-shade-25);
  color: var(--color-dark-shade-50);
  border-radius: 50%;
  font-size: 12px;
  padding: 0;
  width: 40px;
  height: 40px;
  &:hover {
    background-color: #ddd;
  }
}

.mantineDatePickerDaySelected {
  color: #fff;
}

td[data-with-spacing] {
  padding: 0;
  text-align: center;
}

div[data-month-level] {
  font-family: var(--font);
  width: 320px;
  height: 369px;
  border: 1px solid var(--color-dark-shade-25);
  border-radius: 2px;
  & > td {
    padding: 0;
    text-align: center;
  }
  & > button {
    font-size: 12px;
    width: 40px;
    height: 40px;
  }

  & > table {
    width: 100%;
  }
}

.mantineDatePickerweekday {
  & > th {
    box-sizing: border-box;
    color: var(--color-purple);
    padding: 0;
    font-weight: 700;
  }
}
